page-add-edit-unit-comment {
	.comment_text_wrapper{
	    background: #fff;
	    padding: 10px 20px;
	    margin: 0 0 10px;
	    bordeR: 1px solid rgba(0,0,0,0.1);
	}
	form button{
		width:100%;
	}
}
