ReplyBlock{
	

	.reply_container{
		padding : 10px;
		background: map-get($colors, forum_container);
		color : #222;
		.reply_header{
			display:grid;
			grid-template-columns:2fr 1fr;
		    align-items: center;
		}
		.user{
			font-size: 1.2rem;
			display: inline-block;
			display:grid;
			grid-template-columns:48px 1fr;
			grid-gap:1rem;
		    align-items: center;
    		img{
				display: inline-block;
				width: 48px;
	    		height: 48px;
	    		border-radius: 50%;
			}
			strong{
				span+span{
					display:block;
					opacity:0.3;
				}
			}
			
		}
		.edit_delete{
			display: inline-block;
			float: right;
			.edit{
				color : #35a6ff;
			}
			.delete{
				color : red;
			}
		}
		.value{
			margin-top: 10px;
			padding: 0 10px;
			clear: both;
   			float: left;
		}
	

		.post_content {max-height: 20vw;}
		.post_content:hover{max-height:none;}
		.reply_container {
			display: grid;
			grid-template-columns: 48px 1fr;
			position:relative;
		}

		.reply_container .user+div {
			position:absolute;
			top:10px;right:10px;
		}
	}	
	
}	



