
MemberBlock {	
	.mymember{
		background:#fff;
		display:grid;
		grid-template-columns:48px 1fr;
		grid-gap:1rem;
		padding:1rem;
		margin:1rem;
		border-radius:1rem;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		img{
			border-radius:50%;
		}
		&:before{
		    box-shadow:0 0 15px rgba(0,0,0,0.6);
		    top:50%;
		    bottom:0;
		    left:10px;
		    right:10px;
		    border-radius:100px / 10px;
		}
		&:hover:before{
			box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		}
		p{
		    padding: 0;
		    margin: 0;
		    text-align: start;
	        word-break: break-all;
		}
		.mymember_header{
			font-size:1rem;
			opacity:0.6;text-align:start;
		}
		.mymember_content{
		    max-height: 30vh;
    		overflow: hidden;
		}
		.status{
			background-image: linear-gradient(to bottom, #2ec95c, #2ec95c);
		    padding: 5px;
		    text-decoration: none;
		    display: inline-block;
		    border-radius: 50%;
		}
	}

}
