page-group{

	.scroll-content{margin-top: 0 !important;}
	ion-slides[slidesperview="3"] ion-slide{max-width:none;}
	#grouptabs{
		
	    margin-top: -45px;
		.swiper-slide{
			button{
				position:relative;color:#333;
				background:transparent;padding:10px 10px 12px;
				font-size:1.3rem;font-weight:600;
				text-transform:uppercase;
				.button-inner{
					color:#fff;
				}
			}
		}
		ion-slide.swiper-slide:after{
			content:'';
			position:absolute;
			left:0;bottom:0;
			width:100%;height:2px;
			background:rgba(0,0,0,0.2);
			display:block;
		}
		ion-slide.swiper-slide.swiper-slide-active:after{
			content:'';
			position:absolute;
			left:0;bottom:0;
			width:100%;height:2px;
			background:map-get($colors, primary);
			display:block;
		}
	}
	.description{
	    margin: 1rem;
	    padding: 1rem;
	    text-align:start;
    	.weekly_off_schedule{
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		.batch_creds{
		    grid-gap: 1rem;
		    margin: 1rem 0;
		    align-items:center;text-align:center;
		}


		.batch_creds > div {
		    border-bottom: 1px dashed rgba(0,0,0,0.08);
		    padding: 1rem 0;
		}

		ul.weekly_off_schedule {
		    list-style: none;
		    padding: 0;
		}

		ul.weekly_off_schedule > li {
		    padding: 0.2rem 0.8rem;
		    background: rgba(0,0,0,0.08);
		    font-size: 1.2rem;
		    text-align: center;
		    border-radius: 3px;
		}

		ul.weekly_off_schedule > li+li {
		}
		ul.weekly_off_schedule {
		    list-style: none;
		    padding: 0;
		}

		.weekly_off_schedule {
		    display: grid;
		    grid-template-columns: repeat(auto-fill,minmax(80px,1fr));
		    grid-gap: 0.5rem;
		}
		ul.weekly_off_schedule > li {
		    padding: 0.2rem 0.8rem;
		    background: rgba(0,0,0,0.08);
		    font-size: 1.2rem;
		    text-align: center;
		    border-radius: 3px;
		}
	} 
	.group_members{
		display: grid;
	    grid-template-columns: repeat(auto-fill,minmax(48px,1fr));
	    text-align: center;
	    grid-gap: 1rem;
	    img{
			border-radius:50%;
		}

	.batch_essentials{
		display: grid;
    	grid-template-columns: 1fr 5fr;
		}
	}

	.news{	
		font-size:1.4rem;    
		background:map-get($colors, light);
	    width: 90%;
	    margin: 10px auto 10px auto;
	    border-radius: 10px;
	    padding: 15px;
		.news_header{
		    display: grid;
		    grid-template-columns: 30% 70%;
		    friendlytime{
		    	float:right;
		    	font-size: 1.2rem;
		    }
		    div{
		    }
		    lazy-img  img{
		    	    border-radius: 50%;
				    width: 35%;
				    margin: 0 auto;
		    }	
		    lazy-img{
		    	margin:auto;
		    }	
		    .right-section{
				text-align: left;
				display:grid;
				grid-template-columns: 50% 50%;

				.date{
	    			text-align: right;
				}
			    padding-left: 5%;
			    .desc{
			    	max-width: 100%;
				    display: block;
				    width: 100%;
			    }
			}   
		}
	}
	
	#activity{
		margin:10px 0;
		.item{
		    position:relative;
		    padding-left:30px !important;
		    overflow:visible;
		    &:after{
			    content:'';
			    position:absolute;
			    left:10px;
			    top:0;
			    height:100%;
			    width:2px;
			    background:#eee;
			}
			.item-inner:after{
			    content:'';
			    position:absolute;
			    left:7px;
			    top:50%;
			    width:8px;height:8px;
			    border-radius:50%;
			    background:#eee;
			    display:block;
			}
			span{
				font-size:11px;
				tex-transform:uppercase;
				opacity:0.2;
				font-weight:600;
				letter-spacing:1px;
			}
		}
		.item-block,
		.item-block .item-inner{
		    border:none !important;
		}
	}


	.group_defaults {
	    display: grid;
	    grid-template-columns: 1fr 1fr;
	    text-align: center;
	    border: 1px solid rgba(0,0,0,0.08);
	    background: #fff;
	    padding: 1rem;
	    margin-bottom: 1rem;
	}

	.batch_admin_mods {
	    display: flex;
	    flex-direction: column;
	}
	.calendar_start_end > span,
	.enable_off_schedule > span,
	.admin_mod_title {
	    font-size: 1rem;
	    font-weight: 800;
	    text-transform: uppercase;
	    letter-spacing: 0.1rem;
	    opacity: 0.4;
	    text-align:start;
	    display:block;
	    margin-bottom: 1rem;
	}

	.group_members {}

	.group_members > div > div {
	    font-size: 1rem;
	    display: none;
	}

	.group_members > div {
	    position: relative;
	}

	.batch_admin_mods .admins {
	    margin-bottom: 1rem;
	}

	.group_members > div:hover > div {
	    position: absolute;
	    display: block;
	    bottom: 0;
	    left: 0;
	    z-index: 1;
	    width: 100%;
	    background: rgba(0,0,0,0.6);
	    color: #fff;
	    padding: 0.2rem;
	    line-height: 0;
	    border-radius: 2px;
	}
}	


