

<!--
  Generated template for the OfflinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="transparent">
      <ion-buttons start>
          <button ion-button menuToggle>
              <ion-icon name="md-menu"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title>Offline</ion-title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="!is_detail">
    <ion-item *ngFor="let f of loadFiles">
      <ion-label  (click)="opendetail(f)">{{f.fullPath}} - <i class="fa fa-play"></i></ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="is_detail">
    <ion-item><ion-label *ngIf="!is_playing" (click)="playRecording()"> <i class="fa fa-play"></i> {{filename}}<i class="fa fa-play"></i></ion-label></ion-item>
    <ion-item><ion-label *ngIf="is_playing" (click)="pausePlayRecording()"> {{filename}}- {{position}} <i class="fa fa-pause"></i></ion-label></ion-item>
    <ion-range  (ionBlur)="updateSongPosition($event)"  min="0" max="duration" [(ngModel)]="position">
    </ion-range>
    <button (click)="closedetail(f)"><i class="fa fa-stop"></i></button>
  </div>
  <!--(ionChange)="changepostion()"-->
</ion-content>
