<ion-header>
    <ion-navbar  color="transparent" >
        <ion-buttons start>
            <button ion-button menuToggle>
                <ion-icon name="md-menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{config.get_translation('group_directory')}}</ion-title>
            <ion-buttons end>
                <button ion-button [navPush]="profilePage" [navParams]="userdata">
                    <ion-icon name="md-contact" *ngIf="!config.isLoggedIn"></ion-icon>
                    <img *ngIf="config.isLoggedIn" [src]="config.user?.avatar">
                </button>
            </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="{{config.get_translation('pull_to_refresh')}}"
          pullingIcon="arrow-dropdown"
          refreshingSpinner="circles"
          refreshingText="{{config.get_translation('refreshing')}}"></ion-refresher-content>
    </ion-refresher>
    <ion-row>
        <ion-col>
            <div class="filter_sort_select">
                <ion-item>
                    <ion-select placeholder="{{this.config.get_translation('sort_options')}}" (ionChange)="onSortOptions($event)" [selectOptions]="sortSelectOptions" [(ngModel)]="sortby" okText="{{config.get_translation('ok')}}" cancelText="{{config.get_translation('cancel')}}">
                        <ion-option value="groups">{{this.config.get_translation('groups')}}</ion-option>
                        <ion-option value="batches">{{this.config.get_translation('batches')}}</ion-option>
                    </ion-select>
                </ion-item>
            </div>
        </ion-col>
        <ion-col>
            <div class="filter_sort_select">
                <ion-item>
                    <ion-select placeholder="{{this.config.get_translation('filter_options')}}" (ionChange)="onFilterOptions($event)" [selectOptions]="filterSelectOptions" [(ngModel)]="filterby" okText="{{config.get_translation('ok')}}" cancelText="{{config.get_translation('cancel')}}">
                        <ion-option value="alphabetical">{{this.config.get_translation('alphabetical')}}</ion-option>
                        <ion-option value="newlyCreated">{{this.config.get_translation('newlyCreated')}}</ion-option>
                        <ion-option value="lastActive">{{this.config.get_translation('lastActive')}}</ion-option>
                        <ion-option value="mostMembers">{{this.config.get_translation('mostMembers')}}</ion-option>
                        <ion-option value="upComing">{{this.config.get_translation('upComing')}}</ion-option>
                    </ion-select>
                </ion-item>
            </div>
        </ion-col>
    </ion-row>
    <ion-row class="search_groups">
        <ion-searchbar [(ngModel)]="searchTerm" debounced-input placeholder="{{config.get_translation('directory_search_placeholder')}}" (ionInput)="onSearchInput()"></ion-searchbar>
    </ion-row>   
    <div>
        <div *ngIf="groupService.all_groups && groupService.all_groups.length" class="all_groups">
            <div  *ngFor="let group of groupService.all_groups">
                <GroupBlock  [group]="group"></GroupBlock>
            </div>
        </div>
        <div *ngIf="!(groupService.all_groups && groupService.all_groups.length)">
            <div class="message" [innerHtml]="this.config.get_translation('no_group')">
            </div>
        </div>
    </div>
    <ion-infinite-scroll *ngIf="loadmore" (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>  
</ion-content>